/* Color Palette 
 taupe/gray: #80766f rgb(128,118,111)
 beige: #b1976a rgb(177,151,106)
 dark green: 373e2a rgb(55,62,42)
 orange: rgb(164,76,4)
 bright green: 2c4c04 rgb(44,76,4)
*/

/* GLobal styles
--------------------*/
body{
    background-image: url("../images/tim-tiedemann-DmVDrTLFHBw-unsplash.jpg"); 
    /* Photo by Galen Crout on Unsplash */
    background-size: cover;
    color: rgb(15, 14, 14);        
    font-size: 1em; 
    /* font-family:'Bree Serif', serif;; */
    font-family: "HKGroteskRegular", Roboto, sans-serif;
    height: 100%;
    position: relative;
}

h3 {
    font-size: 1.5em;
}

h2 {
     font-size: 1em;
     font-weight: 600;      
}

h1{
     color: rgb(55,62,42);
     font-weight: 600;
     font-size: 5em;  
     font-family: "HKGroteskRegular", Roboto, sans-serif;
}

a {
    color: rgb(55,62,42);
    font-weight: bolder;
}



.custom-checkbox{
    margin-left: 10px;
}

/* #image-input {
    object-fit: cover;
    width: 250px;
    height: 250px;
} */

/* Headers styles
--------------------*/
header {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
    width: 100%;      
}

.jumbotron {
    background-color: rgba(255, 255, 255, 0.5);
     /* background-color: rgba(128,118,111, 0.5);    */
}

@media (min-width: 576px) {
    .jumbotron {
      padding: 1rem; 
  }
}

i {
    margin-right: 10px;
    color: rgb(55,62,42)
}

.circle-icon {
background-color: rgba(255, 255, 255, 0.25);
width: 80px;
height: 80px;
border-radius: 50%;
text-align: center;
line-height: 50px;
vertical-align: middle;
padding: 10px;
}

/* Main body styles
--------------------*/
#term {
    width: 50%;
}

#states{
    width: 20%;
    display: inline-block;
    background-color: lightgrey;   
}

.layer {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 3px;
    width: 100%;
}

#hike-display{
    visibility: hidden; 
}

#submit-button{
    background-color: rgb(55,62,42);
    border: none;
    height: 100%;
}

.circular-image {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
}

#image-input {
    /* width: auto;
    height: 100%;      */
    height: 400px;
    object-fit: cover;
}

/* #title-input {
    color: rgb(164,76,4);
    font-family: 'Shadows Into Light', cursive;
    font-size: 2em;
} */

.hiking-button {
    font-size: 0.75em;
    font-weight: 100;
    margin: 5px;
}

.hiking-button:active {
    color: white;
    background-color: black;
}

#results-here {
    margin: 0px;
    padding: 0px;
}

/* Footer styles
------------------- */
footer {
    background-color: rgba(128,118,111, 0.5);
    margin-top: 20px;  
    position: absolute;
    bottom: 0;    
    width: 100%;      
}
.footer-text {
    color: black;   
}

.title-input {
    font-weight: bolder;
}

/* Parsley CSS */
input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  color: #B94A48;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}

.card-body {
    padding: 25px;
}
.detail-card {
    width: 200px;
    height: 200px;
}
.detail-title {
    color: darkslategray;
    font-weight: bold;
}

.card-content {
    padding: 50px;
}

.nav-item {
    width:25%;
}
