/* Color Palette 
 taupe/gray: #80766f rgb(128,118,111)
 beige: #b1976a rgb(177,151,106)
 dark green: 373e2a rgb(55,62,42)
 orange: rgb(164,76,4)
 bright green: 2c4c04 rgb(44,76,4)
*/

/* Global styles*/
* {
    box-sizing: border-box;

}

body {
    background-image: url("../images/tim-tiedemann-DmVDrTLFHBw-unsplash.jpg"); /* Photo by Galen Crout on Unsplash */
    background-size: cover;
    color: rgb(15, 14, 14);        
    font-size: 0.75em;    
    font-family: "HKGroteskRegular", Roboto, sans-serif;
    height: 100%;
    position: relative;
}

@media (min-width: 768px){
    body {
        font-size: 1.5em;
    }
    #description-input, #weather-input {
        font-size: 1rem;
    }
    .fa-tree {
        margin-right: -30px;       
    }
    canvas {
        margin-top: 20px;
    }
}

/* Heading tags */

h6 {
    margin-bottom: 0px;
}

h5 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h2 {
     font-size: 1em;
     font-weight: 600;      
}

h1 {
     color: rgb(55,62,42);
     font-weight: 600;
     font-size: 2em;  
     /* font-family: "HKGroteskRegular", Roboto, sans-serif; */
     font-family: 'Rock Salt', cursive;
}

.custom-checkbox{
    margin-left: 10px;
}

/* Headers styles
--------------------*/
header {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0;
    width: 100%;      
}

.jumbotron {
    background-color: rgba(255, 255, 255, 0.5);  
}

@media (min-width: 576px) {
    .jumbotron {
      padding: 1rem; 
  }
}

/* Main body styles */

i {   
    margin-bottom: 30px;   
    color: rgb(55,62,42)
}

a {
    color: rgb(55,62,42);
    font-weight: bolder;
}

.fa-tree {
    padding: 0px;
    font-size: 3em;
    margin-top: 65px;
    margin-left: 50px;
}

canvas {
    padding: 0px;
}

#term {
    width: 50%;
}

.col {
    padding: 0px;
}

#term {
    width: 50%;
}

#states{
    width: 20%;
    display: inline-block;
    background-color: lightgrey;   
}

.layer {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 3px;
    width: 100%;
}

#hike-display{
    visibility: hidden; 
}

#search-form {
    margin-left: 15px;
}

#submit-button{
    background-color: rgb(55,62,42);
    border: none;
    height: 100%;
}

#image-input {
    height: 400px;
    object-fit: cover;
}

.hiking-button {
    font-size: 0.75em;
    font-weight: 100;
    margin: 5px;
}

.hiking-button:active {
    color: white;
    background-color: black;
}

#results-here {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
}

.title-input {
    font-weight: bolder;
}

.card-body {
    padding: 25px;
}

.detail-card {
    width: 200px;
    height: 200px;
}

.detail-title {
    color: darkslategray;
    font-weight: bold;
}

.card-content {
    padding: 50px;
}

.nav-item {
    width:25%;
}

.nav-link {
    padding: 10px 0px;
}

#map {
    overflow: auto;
    width: 100%;
    height: 500px;

}

/* Footer styles */

footer {
    background-color: rgba(128,118,111, 0.5);
    margin-top: 20px;   
    bottom: 0;    
    width: 100%;   
    position: fixed;   
}

.footer-text {
    color: black;   
}